Source: ros-r2b3-rmw
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-r2b3-ament-cmake-gmock, ros-r2b3-ament-cmake-ros, ros-r2b3-ament-lint-auto, ros-r2b3-ament-lint-common, ros-r2b3-rcutils, ros-r2b3-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-r2b3-rmw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-r2b3-rcutils, ros-r2b3-rosidl-generator-c, ros-r2b3-ros-workspace
Description: Contains the ROS middleware API.
