Source: ros-dashing-rmw
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake-gmock, ros-dashing-ament-cmake-ros, ros-dashing-ament-lint-auto, ros-dashing-ament-lint-common, ros-dashing-rcutils, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-rmw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-rcutils, ros-dashing-rosidl-generator-c, ros-dashing-ros-workspace
Description: Contains the ROS middleware API.
